<template>
    <main class="main">
       <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h1>Administración de alumnos</h1>
                </div>
                <div class="card-body">
                    <table class="table table-lg">
                        <tbody>
                            <tr>
                               <td>
                                   <h2>Registro de alumnos</h2>
                                    <div >
                                        <audio src="audio/RegAlumno.mp3" preload="auto" controls ></audio>
                                    </div>
                               </td>
                               <td>
                                  <div class="column" >
                                        <img src="img/RegAlumno.png" width="90%" height="90%" justify-content:center>  
                                    </div>
                               </td>
                            </tr>
                             <tr>
                               <td>
                                   <h2>Lista de alumnos</h2>
                                    <div >
                                        <audio src="audio/ListaAlumnos.mp3" preload="auto" controls ></audio>
                                    </div>
                               </td>
                               <td>
                                  <div class="column" >
                                        <img src="img/ListaAlumnos.png" width="90%" height="90%" justify-content:center>  
                                    </div>
                               </td>
                            </tr>
                             <tr>
                               <td>
                                   <h2>Detalle de alumnos</h2>
                                    <div >
                                        <audio src="audio/DetalleAlumno.mp3" preload="auto" controls ></audio>
                                    </div>
                               </td>
                               <td>
                                  <div class="column" >
                                        <img src="img/DetalleAlumno.png" width="90%" height="90%" justify-content:center>  
                                    </div>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>     
    </main>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>