<template>
    <main class="main">
       <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                   <h1>Administraci&oacute;n de ex&aacute;menes</h1>
                </div>
                <div class="card-body">
                    <table class="table table-lg">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="column" >
                                        <img src="img/listaExam.png" width="700" height="90%" justify-content:center>  
                                    </div>
                                </td>
                                <td>         </td>
                                <td>
                                    <div >
                                        <br> <br>
                                        <h2>Lista de ex&aacute;menes</h2>
                                        <p>Cuando nosotros ingresamosa la parte donde <br>
                                           dice ex&aacute;menes  podemos ver  &eacute;sta<br>
                                           vista en donde se listan los ex&aacute;menes  <br>
                                           que est&aacute;n registrados
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                               <td>
                                    <div class="column" >
                                        <img src="img/nuevoExam.png" width="700" height="90%" justify-content:center>  
                                    </div>   
                               </td>
                               <td>         </td>
                               <td>
                                   <div >
                                       <br> <br>
                                        <h2>Nuevo Ex&aacute;men</h2>
                                        <p>El servidor est&aacute; teniendo algunos problemas<br>
                                           para poder proveher estos archivos, la razón podr&iacute; <br>
                                           ser por estos tiempos  de la pandemia que no le han<br>
                                           dado el mantenimiento suficiente al servidor, por est&aacute;<br>
                                           raz&oacute;n el servidor podr&iacute;a estar <br>
                                           fallando un poco. <br>
                                           Pero en est&aacute; im&aacute;gen podemos ver como se crea <br>
                                           un nuevo est&aacute; <br>
                                        </p>
                                    </div>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>     
    </main>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>