<template>
    <main class="main">
       <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h1>Administración de Grupos</h1>
                </div>
                <div class="card-body">
                    <table class="table table-lg">
                        <tbody>
                            <tr>
                               <td>
                                    <div >
                                        <video controls width="600" height="90%">
                                            <source src="video/grupos.mp4" type="video/mp4"  >
                                        </video>    
                                    </div>
                               </td>
                               <td>
                                   <div >
                                        <h2>Grupos</h2>
                                        <p>
                                            En este vide se explícan todas las acciónes que podemos <br>
                                            relizar désde el administrador de los grupos <br>
                                            Explica detalladamente como realizar un nuevo grupo <br>
                                            Explica como editar el nombre del grupo <br>
                                            Y también explica la información detallada del grupo
                                        </p>
                                    </div>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>     
    </main>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>