<template>
    <main class="main">
       <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h1>P&aacute;gina de inicio</h1>
                </div>
                <div class="card-body">
                    <table class="table table-lg">
                        <tbody>
                            <tr>
                                <td>
                                    <div >
                                        <audio src="audio/descripcion.mp3" preload="auto" controls ></audio>
                                    </div>
                                </td>
                                <td>         </td>
                                <td>
                                    <div >
                                        <h2>Audio</h2>
                                        <p>En este audio se explica lo que es la pagina diki</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div  >
                                        <h2>Descripción</h2>
                                        <p>Diki es una plataforma para la creación, administración y 
                                        <br>solución de examenes.
                                        <br>Para eso también se pueden agregar alumnos,crear grupos,
                                        <br>en fin, esta plataforma tiene muchas funcionalidades.
                                        <br>Esta página esta didicada a la explicación de todo estos 
                                        <br>elementos.
                                        <br><br>En esta imagen se puede observar el inicio de la pagina diki. 
                                        </p>
                                    </div>
                                </td>
                                <td>         </td>
                                <td >
                                    <div class="column" >
                                        <img src="img/inicio.png" width="90%" height="90%" justify-content:center>  
                                    </div>
                                </td>
                            </tr>
                            <tr>
                               <td>
                                    <div >
                                        <video controls width="600" height="90%">
                                            <source src="video/inicio.mp4" type="video/mp4"  >
                                        </video>    
                                    </div>
                               </td>
                               <td>         </td>
                               <td>
                                   <div >
                                        <h2>Graficas</h2>
                                        <p>Explicación de las gráficas del inicio de Diki...</p>
                                        <p>Como podemos ver el inicio de diki contiene algunas tablas
                                        <br>o graficas, las cúles describen resultados, esta parte es
                                        <br>muy útil puesto que podemos ver como un resumen general de
                                        <br>todo lo que se ha estado trabajando es esta plataforma.
                                        <br>
                                        </p>
                                    </div>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>     
    </main>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>


