
<template>
    <main class="main">
       <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h1>Administración de Materias</h1>
                </div>
                <div class="card-body">
                    <table class="table table-lg">
                        <tbody>
                            <tr>
                               <td>
                                    <div >
                                        <video controls width="600" height="90%">
                                            <source src="video/materia.mp4" type="video/mp4"  >
                                        </video>    
                                    </div>
                               </td>
                               <td>
                                   <div >
                                        <h2>Materias</h2>
                                        <p>
                                            En este video se muestran las acciones que se pueden  <br>
                                            relizar désde el administrador de los materias <br>
                                            Explica detalladamente como realizar una nueva materia <br>
                                            Explica como editar el nombre de la materia <br>
                                            Y también explica la información detallada de la materia <br>
                                            también se explica alque que se puede hacer en todos los <br>
                                            apartados que es buscar por nombre. <br>
                                        </p>
                                    </div>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>     
    </main>
</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>