<template>
    <main class="main">
       <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h1>Administración de preguntas</h1>
                </div>
                <div class="card-body">
                    <table class="table table-lg">
                        <tbody>
                            <tr>
                               <h2>Creación y detalle de una pregunta</h2>
                               <p>
                                   En esta sección vamos a explicar todo lo que podemos hacer en la sección de preguntas <br>
                                   o en la administración de preguntas. <br>
                                   Podremos ver en el videl como crear una nueva pregunta, agregando opciones con puntuación <br> 
                                   y sin puntuación. <br>
                                   También podremos ver la opción que tiene del detalle de la pregunta. <br>
                                   Veremos como agregarle una etiqueta y una materia a esta pregunta. <br>
                               </p>
                            </tr>
                            <tr>
                                <div >
                                    <video controls width="90%" height="90%">
                                        <source src="video/pregunta.mp4" type="video/mp4"  >
                                    </video>    
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>     
    </main>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>